* {
  box-sizing: border-box;
  font-family: 'Zilla Slab', serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: slategrey;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
}

h2 em {
  font-family: 'Sedgwick Ave', cursive;
}

.content {
  /* border: solid white 1px; */  /* DIV OutLine */
  display: flex;
  flex-direction: column;
}

.formClass {
  max-width: 320px;

  /* Flex parent for inputs */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* ///////////////////// */

  /* border: solid black 1px; */ 
}

input[type="text"] {
  padding: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 1px 1px 1px #303030;
  font-size: 100%;
}

input[type="number"] {
  padding: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 1px 1px 1px #303030;
  font-size: 100%;
}

input[type="submit"] {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #3495eb;
  border: solid black 1px;
  box-shadow: 1px 1px 1px #303030;
  font-size: 25px;
}

.map {
  border: solid black 1px;
  box-shadow: 1px 1px 1px #303030;
  margin-bottom: 20px;
  border-radius: 10px;
}

#mapid { 
  height: 300px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.weather-pic {
  text-align: center;
}

.icon {
  background-color: lightgray;
  border-radius: 50%;
  margin-top: 40px;
}

.results-weather {
  border: solid black 1px;
  box-shadow: 1px 1px 1px #303030;
  border-radius: 10px;
  padding-left: 0;
  margin-bottom: 40px;
  background-color: snow;
}

.trail-ul {
  padding-left: 0px;
}

.results-trails {
  border: solid black 1px;
  box-shadow: 1px 1px 1px #303030;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: snow;
}

.no-list-style {
  list-style-type: none;
}

.weatherResponse {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #3495eb;
}

a:active {
  color: black;
}




/* DIV OutLines */
/* .mapdiv {
  border: solid blue 1px;
}

.weatherSection {
  border: solid red 1px;
}

.resultsSection {
  border: solid green 1px;
}

.resultsUl {
  border: solid purple 1px;
}

.resultsLi {
  border: solid orange 1px;
} */





/*iPhone portrait*/
@media only screen and (min-width: 320px) {
  .formClass {
    /* Flex child of .content*/
    align-self: center;
    width: 320px; 
  }

  /* .resultsDiv {
    align-self: center;
    width: 320px;
  } */

  /* change weather & trail results to 320px */
  .weatherSection {
    align-self: center;
    width: 320px; 
  }

  .resultsSection {
    align-self: center;
    width: 320px; 
  }
}

/*iPhone landscape*/
@media only screen and (min-width: 480px) {
  .weatherSection {
    width: 480px;
  }

  .results-weather {
    display: flex;
  }

  .icon {
    margin: 10px;
  }

  .weatherResponse {
    margin-top: 40px;
  }
}

/*Android landscape*/
@media only screen and (min-width: 640px) {
  .weatherSection {
    width: 600px;
  }

  /* change trail result tiles to row / wrap content /  */
  .results-trails{
    width: 280px; /* width: 320px;  */
    height: 100%; 
  }

  .trail-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .resultsSection {
    align-self: flex-start;
    width: 100%;
  }
}

/*iPad potrait*/
@media only screen and (min-width: 768px) {
 
}

/*iPad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
 
}

/*large desktop*/
@media only screen and (min-width: 1600px) {
 
}





.error-message {
    color: red;
}

.hidden {
  display: none;
}

img {
  width: 200px; 
}

